@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.inventory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  /* Adjust the height as needed */
  background-color: #12163A;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  /* Add scrollability */
}

.inventory h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: Impact, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
}

.inventory ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow: auto;
}

.inventory li {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 120px;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory li img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 10%;
}

.inventory li span {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
  transform: skew(-10deg);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  color: #000000;
}